@import "tailwindcss";

:root {
	font-family: system-ui, ui-sans-serif, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #e2e8f0;
	background-color: #020617;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	min-height: 100vh;
}

input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
